.topBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 10px;
  background-color: var(--highlight);
  z-index: 10;
  background: linear-gradient(
    to right,
    var(--illuminations-blue),
    var(--illuminations-purple)
  );
}

.topBar2 {
  position: fixed;
  right: 0;
  width: 100vw;
  top: 10px;
  background-color: #222;
  z-index: 8;
  text-align: left;
  font-family: 'DM Sans', sans-serif;
}

.home,
.accessibility {
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  opacity: 0.6;

  &:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #333;
  }
}

.accessibility {
  opacity: 0.9;
  color: rgb(192, 155, 234);
  float: right;
}

@media (max-width: 900px) {
  .topBar2 {
    text-align: right;
    background: transparent;
    width: 50vw;

    .home {
      padding: 14.5px 20px;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
