@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1.5em;
  font-weight: 400;
  width: 100%;
}

body {
  --black: #111111;
  --smudgy-gray: #7c7c7c;
  --white: #eeeeee;
  --link-blue: rgb(124, 218, 255);

  --highlight: #16fffb;

  background-color: var(--black);
  color: var(--white);
  line-height: 1.5em;
  font-size: 18px;

  --illuminations-blue: #00c8ff;
  --illuminations-purple: #9101ff;
}

h1 {
  font-weight: 400;
  line-height: 1.1em;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

h2 {
  color: rgb(255, 170, 0);
  margin: 0;
  padding: 0;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 15px;

  &:nth-of-type(2) {
    color: rgb(235, 0, 117);
  }
  &:nth-of-type(3) {
    color: rgb(13, 189, 83);
  }
  &:nth-of-type(4) {
    color: rgb(182, 12, 239);
  }
}

strong {
  font-weight: 600;
}

.dem {
  color: var(--smudgy-gray);
}

a {
  color: var(--link-blue);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul li {
  border-top: 1px;
  padding: 10px 5px;
  border-bottom: 1px solid var(--smudgy-gray);

  &:first-child {
    border-top: 1px solid var(--smudgy-gray);
  }
}

.resource-button {
  padding: 2px 10px;
  background-color: rgb(57, 57, 57);
  border-radius: 3px;
  margin: 2.5px 0 2.5px 5px;
  color: var(--link-blue);
  transition: 0.2s all;
  display: inline-block;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.slides-list {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.no-wrap {
  white-space: nowrap;
}

.actually-wrap {
  white-space: normal;
  text-align: right;
}
