@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');

.appWrapper {
  margin: 70px 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.guideContent {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  max-width: 800px;
  width: calc(100% - 50px);
  padding: 25px;

  p {
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
  }

  h1 {
    line-height: 1.5em;
  }

  h2 {
    color: var(--highlight);
    line-height: 1.5em;
  }

  h3 {
    color: var(--dark-gray);
    font-size: 20px;
    line-height: 1.5em;
  }

  ul {
    list-style-type: disc;
    padding-left: 25px;

    li {
      text-decoration: none;
      margin: 0;
      margin-left: 5px;
      padding: 0;
      padding-left: 13px;
      font-size: 16px;
      opacity: 0.9;
      border: 0;
    }
  }

  .tableContainer {
    width: 100%;
    overflow-x: scroll;
  }

  table.dataTable {
    border-collapse: collapse;
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 24px;

    th {
      text-align: left;
      padding: 3px 15px 3px 2px;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-bottom: 2px solid var(--white);
      white-space: nowrap;
    }

    td {
      padding: 3px 15px 3px 2px;
      font-size: 15px;
      border-bottom: 1px solid var(--smudgy-gray);
    }
  }

  .author {
    color: var(--smudgy-gray);
    opacity: 0.8;
    font-size: 16px;

    a {
      color: var(--smudgy-gray);
    }
  }

  .center {
    text-align: center;
  }

  .equation,
  code {
    background-color: rgba(100, 100, 100, 0.9);
    font-size: 16px;
    padding: 1px 5px;
    border-radius: 5px;
    font-family: monospace;
  }

  textarea {
    outline: 2px solid #444444 !important;
    border-radius: 20px;

    &:focus {
      outline: 2px solid var(--highlight) !important;
    }
  }

  .special {
    background-color: var(--highlight);
    border-radius: 4px;
    padding: 0px 6px;
    color: var(--black);
    margin: 2px 5px;
    display: inline-block;
  }
}

.learningGoals {
  border: 2px solid var(--illuminations-purple);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  opacity: 0.8;
  transition: 0.2s opacity;

  &:hover {
    opacity: 1;
  }

  h3 {
    padding: 0;
    color: var(--illuminations-purple);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
  }

  ul {
    list-style: '-';
    margin-left: 0;
    padding-left: 5px;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.legend {
  margin-top: 20px;
  font-size: 16px;
  color: var(--white);
  opacity: 1;
  max-width: 600px;
  margin: 30px auto 50px;

  td {
    padding-bottom: 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .largeIcons {
    width: 45px;
    height: 45px;
    opacity: 1;
    background-color: #0098a0;
    margin-right: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
}

.pin {
  background-color: rgb(85, 27, 0);
  color: rgb(255, 154, 60);
  padding: 0 5px;
  display: inline-block;
  white-space: nowrap;
  border-radius: 6px;
  font-weight: bold;
  margin: 0px 1px;
  font-size: 15px;
  line-height: normal;
  text-transform: uppercase;
  font-family: 'Fira Code', monospace;
}

.sign {
  background-color: rgb(255, 236, 206);
  color: rgb(235, 116, 5);
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 18px;
  height: 18px;
  font-size: 16px;
  line-height: 0;
  margin: 0px 1px;
  text-transform: uppercase;
  font-family: 'Fira Code', monospace;
  font-weight: 900;
}

.red,
.positive {
  background-color: rgb(255, 227, 227);
  color: rgb(228, 0, 0);
}

.black,
.negative {
  background-color: rgb(224, 224, 224);
  color: rgb(41, 41, 41);
}

@media (max-width: 900px) {
  .appWrapper {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
  }
}
