.guideContent {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;

  p {
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  h2 {
    color: var(--highlight);
  }

  .center {
    text-align: center;
  }

  .equation,
  code {
    background-color: rgba(100, 100, 100, 0.9);
    font-size: 16px;
    padding: 1px 5px;
    border-radius: 5px;
    font-family: monospace;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 100px;
    gap: 10px;
  }

  .navigation a {
    transition: 0.2s all;
  }

  .next,
  .previous {
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    border: 2px solid var(--highlight);
    display: inline-block;
    padding: 10px 15px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s all;

    &:hover {
      border-color: var(--white);
    }
  }

  .navigation .next:after {
    content: '';
    margin-left: 5px;
    transform: rotate(-45deg);
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 3px solid white;
    border-width: 0 3px 3px 0;
  }

  .navigation .previous:before {
    content: '';
    margin-right: 5px;
    transform: rotate(-225deg);
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 3px solid white;
    border-width: 0 3px 3px 0;
  }
}
