.sidebarContent {
  h3 {
    font-size: 13px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: #888;
  }

  ul {
    font-family: 'DM Sans', sans-serif;
    width: 280px;
    line-height: normal;
    font-size: 16px;
    margin-right: 30px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -30px;
      top: 0;
      width: 1px;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0) 0%,
        rgba(233, 233, 233, 0.5) 100%
      );
      height: 500px;
    }

    .chapterId {
      color: #555;
      font-weight: 500;
      margin-bottom: 5px;
      width: 26px;
      display: inline-block;
    }

    li {
      border: none;
      border-radius: 8px;
      padding: 0 4px 0 15px;
      background-color: #222;
      height: 30px;
      margin-bottom: 7px;
      border: 2px solid #222;
      transition: 0.1s;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        line-height: normal;
        padding-top: 3px;
      }

      .type {
        opacity: 0.5;
      }

      &.active {
        border-color: var(--highlight);

        .type {
          opacity: 1;
        }

        .chapterId {
          color: var(--highlight);
        }
      }

      &:hover:not(.active) {
        .type {
          opacity: 1;
        }
        cursor: pointer;
        border-color: var(--white);
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
  }
}

.type {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  display: inline-block;
  margin-left: 4px;
}

.arduino {
  background-color: #00949c;
  background-image: url('/images/arduino.svg');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.app {
  background: linear-gradient(
    45deg,
    var(--illuminations-purple) 20%,
    var(--illuminations-blue) 100%
  );
}

.sidebarMobile {
  position: fixed;
  background-color: #1d1d1d;
  left: 0;
  width: 100vw;
  top: 0;
  height: 66px;
  z-index: 7;
  display: none;
}

.sidebarMobileContentContainer {
  overflow: scroll;
  left: -100vw;
  width: calc(100vw - 60px);
  top: 0;
  bottom: 0;
  padding: 70px 30px 30px;
  background-color: var(--black);
  transition: 0.3s all;
  position: fixed;
  z-index: 1;

  ul {
    width: 100%;

    &:after {
      display: none;
    }
  }
}

.hotdog {
  position: absolute;
  z-index: 31;
  display: block;
  width: 22px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 1.5px;
  transition: 0.2s all;
}

.hotdogTop {
  top: 20px;
  left: 19px;
}

.hotdogMiddle {
  top: 27px;
  left: 19px;
}

.hotdogBottom {
  top: 34px;
  left: 19px;
}

.menuButtonHitArea {
  position: fixed;
  z-index: 999;
  top: 11px;
  left: 8px;
  width: 60px;
  height: 60px;
  margin-top: 0;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.menuButton {
  display: block;
  visibility: hidden;
}

.menuButton:checked {
  ~ .hotdogTop {
    transform: rotate(45deg) translate(3px, 4px);
  }

  ~ .hotdogMiddle {
    opacity: 0%;
    transform: translateX(-10px);
  }

  ~ .hotdogBottom {
    transform: rotate(-45deg) translate(6px, -7px);
  }
}

.menuButton:checked ~ .mobileNavbarContainer {
  top: 0;
  left: 0;
}

.menuButton:checked ~ .sidebarMobileContentContainer {
  left: 0;
}

@media (max-width: 900px) {
  .sidebarMobile {
    display: block;
  }
  .sidebarDesktop {
    display: none;
  }
}
